*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #434242;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	column-gap: 10px;
	padding: 40px;
}
.pk-card-1,.pk-card-2,.pk-card-1-copy{
	width: 330px;
	padding: 20px 30px;
	border-radius: 8px;
	background-image: linear-gradient(120deg,rgba(37, 129, 139, 0.7),rgba(134, 42, 81, 0.7)),
	url(../img/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 230px;
}
.pk-card-1 h3, .pk-card-1-copy h3{
	font-weight: 900;
	font-size: 17px;
	margin-top: 5px;
	color: #fff;
	text-align: right;
}
.pk-card-2{
	background-image: linear-gradient(120deg,rgba(241, 139, 9, 0.97),rgba(231, 58, 93, 0.65)),
	url(../img/2.jpg);
}
.pk-card-1 .pk-head,.pk-card-2 .pk-head,.pk-card-1-copy .pk-head{
	font-weight: 600;
	font-size: 17px;
	padding-bottom: 10px;
	margin-top: 24px;
	color: #fff;
}
.pk-card-1 .pk-body h1,.pk-card-2 .pk-body h1,.pk-card-1-copy .pk-body h1{
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 5px;
	color: #fff;
}
.pk-card-1 .pk-body,.pk-card-2 .pk-body,.pk-card-1-copy .pk-body{
	margin-bottom: 17px;
}
.pk-body span{
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 20px;
	color: #fff;
}
.pk-card-1 .pk-btn,.pk-card-2 .pk-btn,.pk-card-1-copy .pk-btn{
	border: 3px solid transparent;
	border-radius: 4px;
	border-image: linear-gradient(114deg, skyblue, hotpink);
	border-image-slice: 1;
	display: inline-block;
	padding:10px 15px;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}
.pk-btn i{
	color: #fff;
	padding-right: 5px;
}

.button-section{
	border-radius: 4px;
}
/*second-row*/
.pk-card-3{
	width: 330px;

}
.pk-card-3 .card-head{
	border-radius: 8px;
	padding: 20px 30px;
	background-image: linear-gradient(120deg,rgba(35, 37, 37, 0.7),rgba(49, 35, 41, 0.7)),
	url(../img/2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 130px;
}
.pk-card-3 .card-head{
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.card-head h3{
	color: #fff;
	font-size: 16px;
}
.date-section{
	display: flex;
	column-gap: 7px;
	margin-top: 5px;

}
.date-section .date-1{
	border: 2px solid #fff;
	height: 38px;
	width: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding-bottom: 5px;
}
.date-section .date-1 h4{
	color: #fff;
	font-size: 12px;
	font-family: arial;
	margin-top: 8px;
}
.date-section .date-1 h5{
	color: #fff;
	font-size: 21px;
	margin-top: -4px;
}
.card-body {
	margin-bottom: 20px;
}
.card-body .pk-body h1{
	font-weight: 900;
	font-size: 20px;
	margin-bottom: 5px;
	color: #fff;
}
.card-body .pk-body > p{
	padding-right: 20px;
	color: #ddd;
	margin-top: 10px;
}
.pk-card-3 .card-footer{
	display: flex;
	justify-content: space-between;
}
.card-footer{
	padding-right: 20px;
}
.card-footer .card-footer-left, .card-footer .card-footer-right{
	color: #fff;
}